<h1> Tuff Cookies - Game On! </h1>
<p>Player Name: <%= @player.name%></p>
<p>Player Score: <%= @player.score%></p>
<p>Game ID: <%= @player.game_id%></p>

<p>Cards in Deck: <%= @cards_remaining_in_deck %></p>